<ion-header>

</ion-header>

<ion-content>
<div class="background-container">
<div class="background-filter">

<ion-card>
  <img src="../../assets/OnBoarding/logo.png">
<ion-card-header> 
  <ion-card-title>Welcome to Gamaa Store the premium pro for jenesis group</ion-card-title> 

</ion-card-header> 

<ion-card-content>
<div class=" desc">  purchase directly if you don't want to sign in 
<img src ='../../assets/OnBoarding/purchase.png'>
</div>

<p class="textinside">Or sign in for free to get promotions</p> 

<ion-button>Sign In</ion-button>
</ion-card-content>
</ion-card>
</div>
</div>
</ion-content>
